* {
    padding: 0;
    margin: 0;
}

/* selector de etiqueta */


h1 {
    text-align: center;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    transition: transform 2s
}
h1:hover{
    transform: rotatey(180deg);
}
h2 {
    text-align: center;
    color: black;
    font-weight: 900;
}

.pantalla {
    background-image: url(./imagenes/verdemica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fw-bolder{
    text-align: center;
    color: black;
}


.galeria{
    display: flex;
    justify-content: space-evenly;
    
}
.carousel-item img {
     height: 400px;
    }


.textosresaltados {
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 30vh;
    color: black;
    font-size: large;
    width: 100%;
  
}
.textosresaltados_card_imagen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bi{
    width: 50px;
    height: 40px;
    justify-content: space-evenly;
}

.textoscomunes {
    padding: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: large;
    color: black;
}
body {
     background-color: rgb(236, 43, 43); 
}
footer {
    display: flex;
    background-color: rgb(245, 97, 97);

}
.footer-desktop{
    display: flex;
}
.footer-mobile{
    display: none;
   }
/* media queri 768 de index */
 /*  @media screen and (max-width: 768px) {
    body {
        background-color: rgb(240, 80, 80)
    }

    .galeria_card {
         display: grid; 
         grid-template-columns: repeat(2, 2fr);
         margin: 150px;
    }

    .textosresaltados_imagen {
        width: 50px;
        height: 40px;  
        justify-content: space-evenly;
    } 

    footer {
        background-color: rgb(248, 88, 88)
    }
 }     */
 /* media queri 320 index */
 @media screen and (max-width:320px) {
    .footer-mobile{
        display: flex;
       }

    .footer-desktop{
        display:none ;
    }
 
    .logo_de_la_marca{display: none;}
    h1{
        background-color: rgb(216, 64, 64);
    }
    h2{display: none;}
    .textosresaltados {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .fw-bolder{display: none;}
    .font-monospace{display: none;}
     .textosresaltados_card_imagen {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
    } 
footer {
        display: flex;
        background-color: plum;
        align-items: center;
        width: 100%;
    }

     .textosresaltados_imagen {
         width: 35px   
    }


}  


/*  quienes somos */
header a {
    text-decoration: none;
}

.imagen1 {
    background-image: url(./imagenes/celestebuzo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center
}

.imagen2 {
    text-align: center;
    /* revisar todo */
    background-image: url(./imagenes/fotogrupal.jpg);
    background-position: center;
    background: no-repeat;
}

.centro1 {
    text-align: center;
    /* revisar */
    color: black;
    /* revisar */
    font-size: large;
}

.parrafo1 {
    text-align: center;
    color: brown;
    font-size: large;
}

.ubi {
    margin: 5px;
     text-align: start; 

}

.mapaubi {
    height: 30vh;
   padding: 10px 50px; 
    margin: 0px;
}

.menu1 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    line-height: 30px;
    list-style: none;
    font-size: large;
    font-weight: 800;
}

.menu_item1 {
    display: inline-block;
    margin: 16px;
    line-height: 50px;
    justify-content: space-evenly;
}

.imagen1 {
    background-image: url(./imagenes/celestebuzo.jpg);
    background-position: center;
    background: no-repeat;
    background-size: 100%;
}

.imagen2 {
    text-align: center;
    background-image: url(./imagenes/fotogrupal.jpg);
    background-position: center;
    background: no-repeat;
}
/* contacto */
.fotopantalla {
    background-image: url(./imagenes/pibesypibas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contactanos {
    padding: 100px ; 
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
}

.contactanos_item {
    padding: 0px;
    margin: 5px;
}

 .font-monospace{
    text-align: center;
    font-weight: 900;
    background-color: rgb(245, 247, 222);
    border: solid 1px;
    color: rgb(223, 103, 103);

} 
/* media queri contacto 768 */
 @media screen and (max-width: 768px) {
    footer {
        background-color: plum;
        align-items: center;
        max-width: 100%; 
    }
    .margen {
        display: grid;
        justify-content: stretch;
        font-size: large;
        font-weight: 900;
        line-height: 7vh;
    } 
}
/*  media queri contacto 320  */ 
 @media screen and (max-width: 320px) {
    .logo_de_la_marca{
        display: none;
    }
    body {
        background-color: rgb(240, 190, 133) ; 
         
    }
    footer ul {     
        margin: 0%;
        display: inline-block;
        background-color: rgba(240, 174, 120, 0.993);
        max-width: 100%;
        height: auto;
    }  
    .parrafo2 {
        display: grid;
        text-align: center;
        font-weight: 900;
        background-color: rgb(240, 235, 195);
        border: solid 1px;
        color: black;
        font-size: small;
    }
ul{
    padding-left: none;
}
    .contactanos {
        padding: 20px;
        grid-template-columns: 25vh; 
        justify-content: stretch; 
    
    }
    .input-group-text{
        padding: 0.375rem 0.75rem;
    }


}
/* Politica de Privacidad*/
.fotodeatraspantalla {
    background-image: url(./imagenes/verdeynaranja.jpg);
    background-position: center;
    background-size: 100%;
}

.menupolitica {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    line-height: 30px;
    list-style: none;
    font-size: large;
}

.menupolitica_item {
    margin: 16px;
    line-height: 50px;
    text-align: center;
}
.parraprivacidad{
    padding: 30px;
    font-weight: 900;
    font-size: larger;
    text-align: center;
    
}
/* Producto*/
.fotoatras {
    background-image: url(./imagenes/pibeypiba1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.menuproducto {
    display: flex;
    justify-content: space-evenly;
    margin: 14px;
    line-height: 50px;
    list-style: none;
    font-weight: 700;
     padding: 30px; 
}

.menuproducto_item {
    display: flex;
    
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.precios{
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.parraproducto{
padding: 30px;
font-weight: 900;
font-size: larger;
text-align: center;

}
.precios_item_imagen {
     display: grid;
   grid-template-columns: repeat(4,1fr);
    width: 260px;
    height: 55vh;  
     margin: 30px ; 
   
}


.textoslorem {
    background-color: black;
    text-align: center;
    font-weight: 900;
}

.parrafoproducto {
    padding: 50px;
    color: brown;
    text-align: center;
    font-weight: 900;
}